/* html {
  background-image: linear-gradient(
    to bottom,
    rgb(216, 116, 216),
    rgb(37, 37, 37)
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



h1{
  padding-left: 10px;
  color: white;
}

.navbar, ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding-right: 20px;
}

a:hover{
  color: rgb(216, 216, 216);
}

.search-bar input, .search-bar {
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.navbar, h2{
  width: 100%;
  margin-top: 10px;
  float: left;
  padding-left: 5px;
}

textarea{
  height: 50px;
}

.login-page{
  text-align: center;
  margin: 0 auto;
}

a{
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

form{
  padding-top: 50px;
  padding-left: 10px;
  color: white;
}

.container {
  margin: 0 100px;
  padding-left: 10px;
}

.music {
  border: 5px solid white;
  border-radius: 15px;
  padding: 20px 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: space-around;
}

.track-desc {
  padding-top: 10px;
  width: 40%;
  margin-bottom: 20px;
  border: 5px solid rgb(212, 212, 212);
}

.track-desc:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.klik {
  margin-bottom: 10px;
}

.icon img {
  width: 25%;
  height: 25%;
}

.music-desc {
  text-align: center;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  background: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgba(128, 126, 126, 0.5);
  transition: all 0.2s;
}

input,
textarea {
  background: transparent;
  display: inline-block;
  border: 3px solid white;
  border-radius: 7px;
  color: white;
  margin: 10px 0;
}
 */
