
html {
  background-image: linear-gradient (
    to bottom,
    #d874d8,
    #252525
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

span{
  color: cyan;
}

h1{
  padding-left: 10px;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding-right: 20px;
  color: white;
  background-color: #141414;
  z-index: 10;
  position: fixed;
}


a:hover{
  color: rgb(216, 216, 216);
}

.search-bar {
  margin-left: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.navbar, h2{
  width: 100%;
  float: left;
  padding-left: 5px;
}

textarea{
  height: 50px;
}

.login-page{
  text-align: center;
  margin: 0 auto;
  color: black;
  outline: none;
}


form{
  padding-top: 50px;
  padding-left: 10px;
  color: white;
}

.container {
  margin: 0 10px;
  padding-left: 10px;
}

.track-desc {
  background-color: rgb(53, 53, 53);
  padding: 20px;
  width: 10 0%;
  margin-bottom: 20px;
  border: 3px solid #252525;
  border-radius: 15px;
}

.track-desc:hover {
  background-color: #464646;
  border: none;
}

.klik {
  margin-bottom: 10px;
}

.icon img {
  width: 25%;
  height: 25%;
}

.music-desc {
  text-align: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  /* border: 2px solid white; */
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgba(128, 126, 126, 0.7);
  transition: all 0.2s;
}


Input:focus {
  outline: none;
}

.css-judj5e, .css-ou2vyq{
  outline: none;
  border: none;
}


.css-k3hei3{
  background-color: #464646;
  border: 3px solid #464646;
}
