html {
  background-image: linear-gradient(
    to bottom,
    rgb(216, 116, 216),
    rgb(37, 37, 37)
  );
  height: 100%;
}

.container {
  margin: 0 35px;
}

.music {
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 20px;
  color: white;
}

input {
  border-radius: 7px;
}

button {
  border-radius: 15px;
}

.klik {
  margin-bottom: 10px;
}

.icon img {
  width: 25%;
  height: 25%;
}

.music-desc {
  text-align: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button2 {
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}

button,
input,
textarea {
  background: transparent;
  display: inline-block;
  border: 2px solid black;
}

